body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;


}
.Drag{
   
color: rgb(119, 119, 211);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0.5%;
text-align: center;
}
.drag-border{
    border: 1px dashed rgb(119, 119, 211);
border-radius: 20px;

background: rgb(255, 255, 255);
}
.control{
color: rgb(28, 28, 181);
font-size: 13px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.5%;
text-align: center;
border-bottom:1px solid rgb(119, 119, 211) ;

}
.property{
    color: rgb(128, 128, 128);

font-size: 13px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.5%;
text-align: center;
}
.tab {
    overflow: hidden;
  
  }
  
  .tabcontent {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .table{
box-sizing: border-box;
border: 1px solid rgb(223, 223, 232);
border-radius: 4px;
background: rgb(255, 255, 255);
width: 80px;
height: 60px;
/* Auto layout */
justify-content: center;
align-items: center;
gap: 5;
padding: 10px;
  }
 
  
  